//SKIN COLORS SETTINGS
$skin-primary-color: #F47E24;
$skin-secondary-color: #121212;
$skin-light-color: #F4F4F4;
$skin-inner-bg-color: #212121;

//GENERAL STYLE SETTINGS
$path: '../assets';
$body-font: "Roboto Light", "sans-serif";
$body-font-size: 12px;
$body-font-color: #121212;
$global-border-radius: 6px;
$white: #fff;
$black: #000;

//TYPOGRAPHY
$font-light: "Roboto Light";
$font-medium: "Roboto Medium";
$font-glyph: "Glyphter";

//CHATBOT UI SETTINGS
$chatbot-width: 325px;
$chatbot-textarea-height: 68px;
$chat-bot-icon: '../icons/icon-chatbot.svg';
$chat-ui-icons-inactive: #626262;